body {
    margin: 0;
}

/* Other position */

.item_fixed {
    position: fixed;
    top: 90vh;
    left: 90vw;
    z-index: 99;
}

.fixed_position_only {
    position: fixed;
    width: 99vw;
    z-index: 99;
}

.item_fixed:hover {
    background-color: rgb(222, 222, 222);
}

/*  */

/* For flex and grid */
.item_flex {
    display: flex;
}

.item_flex_reverse {
    flex-direction: row-reverse;
}

.item_column_flex {
    flex-direction: column;
}

.item_column_reverse_flex {
    flex-direction: column-reverse;
}

.item_flex_grow {
    flex-grow: 3;
}

.item_grid {
    display: grid;
}

.item_flex_inline {
    display: inline-flex;
}

.item_content_center {
    justify-content: center;
}


.item_content_around {
    justify-content: space-around;
}

.item_content_between {
    justify-content: space-between;
}

.item_content_evently {
    justify-content: space-evenly;
}

.item_vertical {
    align-items: center;
}

.item_vertical_base {
    align-items: baseline;
}

.item_wrap {
    flex-wrap: wrap;
}

.item_place {
    justify-content: space-evenly;
}

/*  */

/* Positional inline */

.vertical_aligne_end {
    align-items: end;
}

/*  */

/* Text and fonts */
.f_family_abril {
    font-family: "Abril Fatface";
    /* font-family: 'Times New Roman', Times, serif; */
}

.case_up {
    text-transform: uppercase;
}

.none_decoration {
    list-style: none;
    text-decoration: none;
}

.text_al_justify {
    text-align: justify;
}

.vertical_text {
    vertical-align: text-top;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

.f_bold {
    font-weight: bolder;
}

.f_italic {
    font-style: italic;
}

.font_14 {
    font-size: 14px;
}

.font_18 {
    font-size: 18px;
}

.font_20 {
    font-size: 20px;
}

.font_times_new_roman {
    font-family: 'Times New Roman', Times, serif;
}

.black_color {
    color: black;
}

a[href^="#"] {
    transition: var(--trans, color .4s ease 0s);
}

a[href^="#"]:hover {
    color: gray;
}

/*  */

/* Margin and padding */
.margin_b_3 {
    margin-bottom: 4rem;
}

.margin_t_3 {
    margin-top: 4rem;
}

.margin_around {
    margin: .8rem;
}

.padding_around {
    padding: .3rem;
}

.padding_bottom_04 {
    padding-bottom: .4rem;
}

.padding_bottom_1 {
    padding-bottom: 1rem;
}

.padding_r_3 {
    padding-right: 3rem;
}

.padding_0 {
    padding: 0;
}

.padding_l_3 {
    padding-left: 3rem;
}


.margin_r_3 {
    margin-right: 3rem;
}

.margin_l_3 {
    margin-left: 3rem;
}

/*  */

/* Height and width */
.height_block {
    height: 8px;
}

.height_block_separator {
    height: 35px;
}

.h_anchor {
    height: 40px;
}

.w_70_px {
    width: 80px;
}

.width_30_per {
    width: 27%;
}

.width_calc_on_3 {
    width: calc(100%/3);
}

.width_50_percent {
    width: 50%;
}

.max_width_75 {
    max-width: 35%;
}

.max_width_5 {
    width: 40em;
}

.m_height_5 {
    height: 25em;
}

.size_90_vh_vw {
    width: 95vw;
    height: 70vh;
}

/*  */

/* Color bg */
.bg_color_black {
    background-color: rgb(197, 197, 197);
}

/*  */

/* Decoration text (Shaodow, Opacity */
.cursor_point {
    cursor: pointer;
}

.opacity_05 {
    opacity: .5;
}

.shadow_bottom {
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
}

.l_float {
    float: left;
}

/*  */

/* BackGroundColor */
.bg_gray {
    background-color: rgb(223, 221, 221);
}

.bg_darkgray {
    background-color: darkgrey;
}

/*  */

/* Border */

.border_round {
    border: 2px solid rgb(69, 69, 69);
    border-radius: 40px;
}